*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body{
    	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.sidenav {
	height: 100%;
	width: 0; 
	position: fixed; 
	z-index: 1; 
	top: 0; /
	left: 0;
	background-color: white; 
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s;
  }
  
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color:#15628d;
	display: block;
	transition: 0.3s;
  }
  
.sidenav a:hover {
	color: white;
	background-color: #15628d;
  }
  
.sidenav .closebtn {
	position: absolute;
	top: 0;
	font-size: 36px;
  }
  
#main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

.openbtn {
	font-size: 30px;
	cursor: pointer;
	background-color: white;
	color: black;
	padding: 10px 15px;
	border: none;
	border-color: white;
  }
  
.openbtn:hover {
	background-color: #e6e6e6;
  }

.top{
	padding:0; 
	margin:0;
	height:200px;
	background-image: linear-gradient(to right, #0c3e91, #0056a9, #006ec0, #0087d6, #12a0eb);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }
.title{
	color: white;
	font-size: 60;
  }

.ghbtn{
	background-color: transparent;
	border-radius:5px;
	border:2px solid white;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}

h3{
    padding-bottom: 20px;
    margin-top: 20px;
}

h1{
  text-align: center;
  font-size: 34px;
  padding-bottom: 60px;
}


p{
    font-size: 18px;
    margin-bottom: 40px;
}
.content{
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 23px;
}

.content a{
    line-height: 38px;
}

.menu{
  padding-bottom: 30px;
}

.center{
  text-align: center;
  margin-bottom: 60px;
  
}
table, td, tr{

  border: 1px solid black;
  border-collapse: collapse;
}
table{
  margin-top: 20px;
  margin-bottom: 60px;
}
td {
  padding: 15px;
}
.tables p{
  margin-bottom: 0;
  font-size: 16px;
}
ul.main{
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 40px;
}
ul.a{
  margin-left: 30px;
}
ul.b{
  margin-left:30px;
  font-size: 18px;
  list-style-type: circle;
  margin-bottom: 20px;
}
ul.c{
  margin-left: 30px;
  list-style-type: disc;
}
h4{
  font-weight: normal;
  font-size: 19px;
  text-decoration: underline;
  margin-bottom: 10px;
}
.red{
  background-color: #FD4141;
}
.green{
  background-color: #89FD41;
}
.orange{
  background-color: #FD9941;
}
.imglink{
  font-size: 18px;
}
.state{
  width:100%;
  margin-top: 40px;
}
.arch{
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-decoration: none;
}
.seq{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}
